h2{

  font-family: 'Brush Script MT', cursive;
  font-size: 30px;
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  tr:hover {background-color: rgb(255, 80, 95);}
  th {
    background-color: #290707;
    color: white;
  }
  tr:nth-child(even) {
    background-color: #e34d4d;
  }